@{
    ViewData["Title"] = "United Federation of Planets";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the United Federation of Planets</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">exploring strange new worlds</a>.</p>
</div>
